<div class="close-container">
  <div class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="content-container">
  <div class="title">
    {{ 'CREATOR.TITLE' | translate }}
  </div>
  <form (ngSubmit)="save()" [formGroup]="creatorForm" novalidate>
    <div class="form-group">
      <input #name type="text" placeholder="{{ 'CREATOR.ENTER-NAME' | translate }}" class="form-control input-name" formControlName="name">
    </div>
    <div class="save-container">
      <button type="submit" class="save-button">{{ 'CREATOR.SAVE' | translate }}</button>
    </div>
  </form>
<div>
<simple-notifications></simple-notifications>