button {
  &[type=submit] {
    background-color: transparent !important;
    color: white;
    background-image: -moz-linear-gradient(0deg, #1e88e5 0%, #5e35b1 100%) !important;
    background-image: -webkit-linear-gradient(0deg, #1e88e5 0%, #5e35b1 100%) !important;
    background-image: -ms-linear-gradient(0deg, #1e88e5 0%, #5e35b1 100%) !important;
    background-image: linear-gradient(0deg, #1e88e5 0%, #5e35b1 100%) !important;
    width: 100%;
    min-height: 50px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 10px;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      background-image: -moz-linear-gradient(0deg, #1874c5 0%, #5124ad 100%) !important;
      background-image: -webkit-linear-gradient(0deg, #1874c5 0%, #5124ad 100%) !important;
      background-image: -ms-linear-gradient(0deg, #1874c5 0%, #5124ad 100%) !important;
      background-image: linear-gradient(0deg, #1e88e5 0%, #5e35b1 100%) !important;
    }
  }
}