.mat {
  &-select {
    padding: 10px 15px;
    text-align: center;
    color: white !important;
    background-color: white;

    &-content{
      font-size: 1.4em;
    }
  }

  &-option {
    text-align: center;
  }
}