@media screen and (max-width: 480px) {
  .controls {
    &Inner {
      width: 220px;
      left: 5%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .controls {
    &Inner {
      width: 220px;
      left: 5%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  &Inner {
    width: 220px;
    left: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .controls {
    &Inner {
      width: 340px;
      left: 50%;
      margin: 0 -170px;
    }
  }
}