@media screen and (max-width: 480px) {
  h3 {
    font-size: 21px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  h3 {
    font-size: 21px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}